<br />
<br />
<div class="row">
  <div class="small-6 small-centered columns text-center">
    <% if signed_in? %>
      <p> Hi user <%= @user.username %>!
      <p> You have <%= link_to "#{@user.secure_files.count} files", secure_files_path  %> shared! </p>
      <br />
      <br />
      <p> Wanna upload and share a file? </p>
      <p>  <%= link_to "Do it now!", new_secure_file_path, class: "button small" %>
      </p>
    <% else %>
      <%= render "sessions/login_form" %>
    <% end %>
  </div>
</div>
