<br />
<br />
<div class="row">
  <div class="small-6 small-centered columns text-center">
    <% if signed_in? %>
      <h5> You have already logged in </h5>
    <% else %>
      <%= render "login_form" %>
    <% end %>
  </div>
</div>
