<br />
<br />
<div class="row">
  <div class="small-6 small-centered columns text-center">
    <p> Secure VoIP has not been enabled yet. Please contact admin to enable it 
    and enjoy NSA-secure calls. </p>
  </div>
</div>
