<% if @user.secure_files.any? %>
  <h3> <%= @user.secure_files.count %> Uploaded Files</h3>
  <ol>
    <%= render @user.secure_files %>
  </ol>
<% else %>
  <p> You have no uploaded files yet </p>
<% end %>
