<br />
<br />
<div class="row">
  <div class="small-10 small-centered columns text-center">
    <p> Upload a file and add the users you want to share with </p>
    <%= render "secure_files/upload_file" %>
  </div>
</div>
